# Colab Tutorial
Jan 3, 2023

Use `shift + return to run code`

Markdown basics:

- **bold text**, also __bold text__
-*italicized*, also _italicized_
-`typewriter text`
-[something linky](url)
[link text](https://)

In [1]:
x = 3+2 #last line automatically outputs, use semicolon after line and it won't print last line
x

5

#Day 1 Part 2
Jan 3, 2023

In [2]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [3]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [4]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?
#it will be ["abc",2,3]

['abc', 2, 3]

In [5]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?
#["abc","what",3]
#"what" ---- this is 2 b/c we changed x[1] after setting z=x[1] and didn't update z
#[90,2,"abc","what",3,70] ---- x.insert adds 90 into the 2 position of the list and moves the rest of the values down the list(3 into the 3 position, etc.)

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [7]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?
#2
#5
#["abc","what",90,3,70,"abc","what",90,3,70]

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [8]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])
#[55,"hello","R2D2",7.8]
#[33,55,"hello",R2D2]
#[7.8,"banana"]
#prints whole list

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [10]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?
#changes R2D2 with 'what'
#my_list won't change
#adds drake and university twice to end of list
#adds 'Bulldogs to beginning of list
#Drake of University arent in final statement b/c we added it onto a print statement, not the list itself

[33, 55, 'what', 'R2D2']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']
[33, 55, 'hello', 'R2D2', 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 'Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [12]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
#'baby'
print(my_list[2][1])
#nothing --- it does the e in hello, letters count as an index if another index is used
# wait, what? 
# explain what is happening here

baby
e

In [13]:
# In Python, a tuple is a collection which is ordered andÃ‚Â unchangeable. 
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
#200
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])
#42

200
42

In [17]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2]) #42 does not have an index of 2, can't subscript a float
my_tuple[1] = 0   #tuple is ordered specifically, so the values are unchangeable ---- tuple does not support item assignment
print(my_dictionary[1])   #the is no value of 1 in the dictionary, need to use either a value or key to find the corresponding value or key --- no key of 1

TypeError: ignored

In [ ]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)